# ignore dataset and storage
dataset/
storage/
MinIO/
dagster_home/.log_queue/
dagster_home/.nux/
dagster_home/.telemetry/
dagster_home/compute_logs/
dagster_home/logs/
etl_pipeline/etl_pipeline/__pycache__
etl_pipeline/etl_pipeline/assets/__pycache__
etl_pipeline/etl_pipeline/resources/__pycache__
.env



